@charset "UTF-8";
/*body用のgirdレイアウト*/
.body-grid {
  display: grid;
  grid-template: "head" "main" "foot";
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Meiryo", sans-serif;
  font-size: 0.875rem;
}
body p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}
body a {
  display: block;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}
body a:hover {
  opacity: 0.7;
}
body img {
  max-width: 100%;
}

header {
  padding: 0 40px;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
}
header img {
  height: 1.3rem;
}
header .menu-bar {
  height: 30px;
  width: 30px;
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 30;
}
header .menu-bar div {
  position: absolute;
  z-index: 30;
  width: 30px;
  transition: all 0.5s ease;
  border: 1px solid black;
}
header .menu-bar div.nav-close {
  border: 1px solid white;
}
header .menu-bar div:nth-of-type(1) {
  top: 20px;
}
header .menu-bar div:nth-of-type(1).nav-close-1 {
  transform: rotate(45deg);
  top: 50%;
}
header .menu-bar div:nth-of-type(2) {
  bottom: 20px;
}
header .menu-bar div:nth-of-type(2).nav-close-2 {
  transform: rotate(-45deg);
  top: 50%;
  bottom: auto;
}
header .nav-back, header nav {
  position: fixed;
}
header .nav-back.nav-open, header nav.nav-open {
  transform: translateX(0);
}
header .nav-back {
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX(200%);
  transition: all 0.5s ease;
}
header nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  top: 40px;
  left: 40px;
  z-index: 20;
  transform: translateY(-200%);
  transition: all 0.7s ease;
}
header nav a {
  text-decoration: none;
  color: white;
}
header #nav-menu {
  font-size: 1rem;
}

main {
  padding: 0 40px 80px 40px;
}
main h3 {
  font-weight: normal;
  margin: 0 0 30px 0;
  font-size: 0.875rem;
}
main img {
  margin-bottom: 5px;
}
main ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin: 0;
  padding: 0;
}
main li {
  list-style: none;
}
main .view-more {
  margin: 40px 0 40px 0;
  text-align: center;
  font-size: 0.875rem;
}
main .page-view-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0 40px 0;
}
main .main-container {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
main .main-container img {
  width: 45%;
}
main .main-container div {
  width: 35%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
main .main-container div p {
  font-size: 0.875rem;
}
main .main-container div dl {
  display: flex;
  flex-wrap: wrap;
}
main .main-container div dl dt {
  width: 30%;
}
main .main-container div dl dd {
  width: 70%;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
  padding: 0 40px;
}
footer nav {
  display: flex;
  gap: 30px;
  margin-bottom: 5px;
}
footer nav a {
  font-size: 0.75rem;
}
footer p {
  font-size: 0.625rem;
}

@media screen and (max-width: 1000px) {
  main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    display: block;
  }
}
/*# sourceMappingURL=style.SCSS.css.map */