@use "../../../default_mixin_setting/_main_mixin" as *;

body{
  @include space-setting(0,0);
}

header{
  margin:30px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  position:relative;


  > a{
    display:block;
  }
  .menu-bar{
    height:30px;
    width:30px;
    @include space-setting(10px,10px);
    display:flex;
    justify-content:center;
    position:relative;
    z-index:30;
  // バーの装飾
    div{
    position:absolute;
    z-index:30;
    width:30px;
    transition:all 0.5s ease;
    // メニュー非表示のCSS
    border:1px solid black;

      //メニュー表示時のCSS 
      &.nav-close{
        border:1px solid white;
      }

    
    
    // 上側のバー
    &:nth-of-type(1){
      // メニュー非表示のCSS
      top:20px;

    
      &.nav-close-1{
        transform:rotate(45deg);
        top:50%;
      }
    }
  
    // 下側のバー
    &:nth-of-type(2){
      // メニュー非表示のCSS
      bottom:20px;

      // メニュー表示時のCSS
      &.nav-close-2{
        transform:rotate(-45deg);
        top:50%;
        bottom:auto;
      }
      
    }
  }
}

  .nav-back,nav{
    position:fixed;

    // JS経由で制御するCSS
    &.nav-open{
      transform:translateX(0);
    }
  }

  .nav-back{
    top:0;
    left:0;
    background-color:black;
    opacity:0.8;
    width:100%;
    height:100%;
    z-index:10;
    transform:translateX(200%);
    transition:all 0.5s ease;
    // display:none;
  }
  
  nav{
    // 挙動の確認用のCSS
    display:flex;
    flex-direction:column;
    top:30px;
    left:30px;
    z-index:20;
    transform:translateY(-200%);
    transition:all 0.7s ease;
    // display:none;

    
    
    a{
      text-decoration:none;
      color:white;
    }

  }



  


}