@charset "UTF-8";
body {
  font-family: "Noto Sans Japanese";
  /*bodyの余白を消す*/
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 960px;
  color: black;
  /*aタグ全体のCSS*/
}
#nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
#nav a:hover {
  color: gray;
}
#nav a:active {
  color: black;
}

/*最大文字の統一CSS*/
.font-sizeMax {
  font-size: 34px;
  font-weight: bold;
}

.font-s-18px {
  font-size: 18px;
}

.t-align-center {
  text-align: center;
}

#MyProfile {
  border: 1px solid;
  /*枠外・内の余白*/
  margin: 0 0 0 20px;
  padding: 0 20px;
}

#menu > a {
  margin-left: 20px;
  margin-right: 20px;
}

#header-img {
  width: 100%;
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

section {
  margin-top: 40px;
}

.sliders {
  -webkit-animation-name: slider;
          animation-name: slider;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic;
          animation-timing-function: cubic;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}

.sliders2 {
  -webkit-animation-name: slider2;
          animation-name: slider2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic;
          animation-timing-function: cubic;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slider {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slider2 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slider2 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
#About-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto 20px;
  padding: 10px;
  max-width: 960px;
}

#About-img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  border: 3px solid #999;
  padding: 3px;
  /*About-imgの画像*/
  background-image: url(../design-images/about.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#About-list {
  margin: 0 auto;
  padding: 0 0 0 40px;
}

h3 {
  font-size: 24px;
}

#Works-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#Works-box {
  width: 25%;
}
#Works-box img {
  width: 100%;
}
#Works-box p {
  width: 95%;
}

footer {
  margin-top: 40px;
}

/*ここまで共通*/
/*# sourceMappingURL=design_style.SCSS.css.map */