body{
  font-family:'Noto Sans Japanese';
  margin:0 auto;
}


/*PC用のスタイル*/
@media screen and(min-width:768px){
  body{
  max-width:1080px;
  min-width:960px;
  }

  // 全体の左右の余白をとるため
  // ヘッダーとメインの余白をとるために使用
  header{
    margin-top:20px;
  }


  #nav-pc{
    font-size:34px;
    font-weight:bold;
    display:flex;
    justify-content:space-around;
    // aタグ全体のCSS
    a{
      text-decoration:none;
      text-align:center;
      color:black;
    }
  }

  #nav-sp{
    display:none;
  }

    // マイプロフィール
    #MyProfile{
      // 枠線のCSS
      border:1px solid;
      // 枠内の余白
      padding:5px 10px;
      // 枠外の余白
    }

    // メニュー
    #menu{
      // divを使用
      // プロフィールとの余白
      
      > a{
        // AboutとWorks間の余白
        margin:auto 20px;
        
        &:hover{
          color:gray;
        }

        &:active{
          color:black;
        }
  }
}

// 画像いっぱいに広げる
#header-img{
    // 画面内に画像が収まるように
      width:100%;
      margin-top:20px;
    }

    // About

    .index-h2{
    font-size:34px;
    text-align:center;
    margin:0;
  }


section{
// 見出しと見出しの間の余白
  margin-top:40px;
}

#About-main{
  display:flex;
  // 両端の中央揃えの為
  justify-content:center;
  // 各子要素を中央揃えする為
  align-items:center;
}

#About_img{
  // 画像のあるdivのサイズ調整
  width:15%;
  // 中身の中央揃え
  text-align:center;
  // 画像の余白
  padding-right:10px;
  > img{
    // 円形にする為
    border-radius:50%;
    // 画像のサイズ調整
    width:100%;
  }
}

  h3{
    font-size:24px;
  }
  li{
    font-size:18px;
  }

  // Works
  #Works-main{
    display:flex;
    justify-content:center;
    gap:20px;
  }

  #Works-box{
    // Aboutと横幅が揃うように調整
    width:17%;

  img{
    width:100%;
  }

  p{
    font-size:18px;
    // 文字の改行による画像のずれ対策
    text-align:center;
    width:95%;
  }
  }
  footer{
    margin-top:40px;
    
  }
  
  #copyright{
      font-size:18px;
      text-align:center;
    }
// ここまでPC用
}

@media screen and (max-width:767px){
  body{
    min-width:375px;
  }
// ヘッダー
  header{
    margin:20px 0;
  }
// PC用のナビを消す
  #nav-pc{
    display:none;
  }
// ナビゲーション
  #nav-sp{
    display:flex;
    justify-content: space-between;

    a{
      text-decoration:none;
      color:black;
      font-weight:bold;
      margin:0 5px;

      &:hover{
        color:gray;
      }

      &:active{
        color:black;
      }
    }

  }
  #MyProfile,#menu{
    font-size:34px;
  }

  #MyProfile{
    border:1px solid;
    margin-left:10px;
  }

  #menu{
    margin-right:10px;
  }

  #header-img{
    margin-top:20px;
    width:100%;
  }

  // About

  .index-h2{
    text-align:center;
    font-size:34px;
    margin:10px 0;
  }

  #About-main{
    display:flex;
    justify-content:center;
    margin-left:-60px;
  }

  h3{
    font-size:24px;
  }
  #About_img{
    width:20%;
    padding:30px 20px 0 0;
    > img{
      border-radius:50%;
      width:100%;
    }
  }

#Works{
  display:flex;
  flex-flow:column wrap;
  text-align:center;
}

#Works_img{
  width:100%;

  img{
    width:640px;
  }
}

#Works_p{
  font-size:18px;
  text-align:center;
}

#copyright{
  font-size:18px;
  text-align:center;
}
}