body{
  font-family:'Noto Sans Japanese';
  /*bodyの余白を消す*/
  margin:0;
  padding:0;
}

/*共通のスタイル*/

// flexboxの基本プロパティ
@mixin flex-df-setting($display:flex,$wrap:false,$justify:false,$align-i:false){
  display:$display;
  flex-wrap:$wrap;
  justify-content:$justify;
  align-items:$align-i;

  // 記述が不要な時に制御する為のミックスイン
  @if $wrap != false{
    flex-wrap:$wrap;
  }

  @if $justify != false{
    justify-content:$justify;
  }

  @if $align-i != false{
    align-items:$align-i;
  }
}

  #nav{
    @include flex-df-setting($wrap:wrap,$justify:space-between);
    margin:20px auto;
    max-width:960px;
    /*aタグ全体のCSS*/

    a{
      text-decoration:none;
      color:black;

      &:hover{
        color:gray;
      }

      &:active{
        color:black;
      }
    }
  }

    /*最大文字の統一CSS*/
  .font-sizeMax{
      font-size:34px;
      font-weight:bold;
      text-align:center;
  }

    

    // マイプロフィール
    #MyProfile{
      // 枠線のCSS
      border:1px solid;
      // 枠内の余白
      padding:0 20px;
      // 枠外の余白
      margin-left:20px;
    }

    // メニュー
    #menu{
      // divを使用
      // プロフィールとの余白
      
      > a{
        // AboutとWorks間の余白
        margin-left:20px;
        margin-right:20px;
  }
}

// 画像いっぱいに広げる
#header-img{
    // 画面内に画像が収まるように
      width:100%;
    }
    // About


section{
// 見出しと見出しの間の余白
  margin-top:40px;
}

#About-main{
  // 各子要素を中央揃えする為
  @include flex-df-setting($wrap:wrap,$align-i:center);
  padding:10px;
  margin:20px auto 20px;
  max-width:960px;
}

#About-img{
    // 円形にする為
    border-radius:50%;
    // 画像のサイズ調整
    height:280px;
    width:280px;
    border: 3px solid #999;
    padding:3px;
    /*About-imgの画像*/
    background-image: url(../design-images/about.png);
    background-size:cover;
    background-repeat:no-repeat;
  }

#About-list{
  margin:0 auto;
  padding-left:40px;
}

  h3{
    font-size:24px;
  }
  li{
    font-size:18px;
  }

  // Works
  #Works-main{
    @include flex-df-setting($wrap:wrap,$justify:center);
    gap:20px;
  }

  #Works-box{
    // Aboutと横幅が揃うように調整
    width:25%;

  img{
    width:100%;
  }

  p{
    font-size:18px;
    // 文字の改行による画像のずれ対策
    text-align:center;
    width:95%;
  }
  }
  footer{
    margin-top:40px;
    
  }
  
  #copyright{
      font-size:18px;
      text-align:center;
    }
/*ここまで共通*/