body{
  font-family:'Noto Sans Japanese';
  margin:0;
  padding:0;
}


/*PC用のスタイル*/
@media screen and(min-width:768px){

  #nav-pc{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:20px auto;
    max-width:960px;
    // aタグ全体のCSS
    a{
      font-size:34px;
      font-weight:bold;
      text-decoration:none;
      text-align:center;
      color:black;
    }
  }

  #nav-sp{
    display:none;
  }

    // マイプロフィール
    #MyProfile{
      // 枠線のCSS
      border:1px solid;
      // 枠内の余白
      padding:0 20px;
      // 枠外の余白
      margin-left:20px;
    }

    // メニュー
    #menu{
      // divを使用
      // プロフィールとの余白
      
      > a{
        // AboutとWorks間の余白
        margin-left:20px;
        
        &:hover{
          color:gray;
        }

        &:active{
          color:black;
        }
  }
}

// 画像いっぱいに広げる
#header-img{
    // 画面内に画像が収まるように
      width:100%;
    }

    // About

    .index-h2{
    padding:60px 0 40px 0;
    font-size:34px;
    text-align:center;
    margin:0;
  }


section{
// 見出しと見出しの間の余白
  margin-top:40px;
}

#About-main{
  display:flex;
  flex-wrap:wrap;
  // 各子要素を中央揃えする為
  align-items:center;
  padding:10px;
  margin:20px auto 20px;
  max-width:960px;

  img{
    // 円形にする為
    border-radius:50%;
    // 画像のサイズ調整
    height:280px;
    width:280px;
    object-fit:cover;
    border: 3px solid #999;
    padding:3px;
  }
}

.content{
  margin:0 auto;
  padding-left:40px;
}

  h3{
    font-size:24px;
  }
  li{
    font-size:18px;
  }

  // Works
  #Works-main{
    display:flex;
    justify-content:center;
    gap:20px;
  }

  #Works-box{
    // Aboutと横幅が揃うように調整
    width:25%;

  img{
    width:100%;
  }

  p{
    font-size:18px;
    // 文字の改行による画像のずれ対策
    text-align:center;
    width:95%;
  }
  }
  footer{
    margin-top:40px;
    
  }
  
  #copyright{
      font-size:18px;
      text-align:center;
    }
// ここまでPC用
}

@media screen and (max-width:767px){
  body{
    min-width:375px;
  }
// ヘッダー
  header{
    margin:20px 0;
  }
// PC用のナビを消す
  #nav-pc{
    display:none;
  }
// ナビゲーション
  #nav-sp{
    display:flex;
    justify-content: space-between;

    a{
      text-decoration:none;
      color:black;
      font-weight:bold;
      margin:0 5px;

      &:hover{
        color:gray;
      }

      &:active{
        color:black;
      }
    }

  }
  #MyProfile,#menu{
    font-size:34px;
  }

  #MyProfile{
    border:1px solid;
    margin-left:10px;
  }

  #menu{
    margin-right:10px;
  }

  #header-img{
    margin-top:20px;
    width:100%;
  }

  // About

  .index-h2{
    text-align:center;
    font-size:34px;
    margin:10px 0;
  }

  #About-main{
    display:flex;
    justify-content:center;
    margin-left:-60px;
  }

  h3{
    font-size:24px;
  }
  #About_img{
    width:20%;
    padding:30px 20px 0 0;
    > img{
      border-radius:50%;
      width:100%;
    }
  }

#Works{
  display:flex;
  flex-flow:column wrap;
  text-align:center;
}

#Works_img{
  width:100%;

  img{
    width:640px;
  }
}

#Works_p{
  font-size:18px;
  text-align:center;
}

#copyright{
  font-size:18px;
  text-align:center;
}
}