@use "../../../default_mixin_setting/_main_mixin";

body{
  font-size:1rem;
  min-height:100vh;
  display:grid;
  grid-template:
  ".... .... ...." 10px
  "head head head" 
  "main main main" 2fr
  "foot foot foot" ; 
}

h2{
  font-size:1.05rem;
}

header{
  grid-area:head;
  display:grid;
  grid-template:
  "logo logo logo"
  "navi  navi  navi ";
  gap:20px;

  > a{
    font-size:1.90rem;
    grid-area:logo;
    text-decoration:none;
    color:black;
    margin-left:30px;
  }

  a{
    text-decoration:none;
  }

  nav {
    grid-area:navi;
    background-color:#333333;
    padding:10px 0 10px 30px;
    display:flex;
    gap:1.5rem;
    
    >a{
      color:white;
      font-size:1rem;
    }
    
  }
}


main{
  grid-area:main;
  grid-template:
  "..... .....   .....   ....." 1.5rem
  "..... sec-top sec-top ....."
  "..... sec1    aside   ....."
  "..... sec2    aside   ....."
  "..... sec3    aside   ....."
  "..... .....   .....   ....." 1rem
  /2rem 3fr 1.6fr 2rem;  
  display:grid;
  gap:3rem 0;

  img{
    width:100%;
  }
}

#section-top{
  grid-area:sec-top;
  display:flex;
  gap:0 1rem;
}

#section1{
  grid-area:sec1;
}

#section2{
  grid-area:sec2;
}

#section3{
  grid-area:sec3;
}

aside{
  grid-area:aside;
  margin:1rem auto auto 2rem;
  display:grid;
  row-gap:2.5rem;
  justify-items:center;
  h2{
    text-align: center;
  }
}

#aside-section1{
  >div{
    margin:1.5rem;
    display:grid;
    place-items: center;
  }
  img{
    width:50%;
    border-radius:50%;
  }
}

#aside-section3{
  p{
    margin:1.5rem;
  }
  
}







footer{
  grid-area:foot;
}
