@use "../../../default_mixin_setting/_main_mixin" as *;

body{
  @include space-setting(0,0);
  font-family: serif;
  display:grid;
  grid-template: 
  "head"
  "main" 
  "foot";
  min-height:100vh;
}

header{
  grid-area:head;
  display:grid;
  grid-template:
  ". ." 100px
  "My-work head-nav"
  ". ." 100px
  "head-img head-img"
  ". ." 40px

}

#head-nav{
  grid-area:head-nav;
}


#MyWork,.menu{
  text-decoration:none;
  color:black;
}

#MyWork{
  grid-area: My-work;
  font-size:30px;
  font-weight:bold;
  justify-self: center;
}

nav{
  grid-area: menu;
  justify-self: center;
  align-self:center;
  font-size:20px;
  display:flex;
  gap:20px;
}

#sns{
  width:20px;
  vertical-align: sub;
}

#header-img{
  grid-area:head-img;
  width:100%;
}

main{
  grid-area:main;
  display:grid;
  grid-template:
  "About"
  "Works"
  "News"
  "Contact"
}

/*About*/
#About{
  grid-area:About;
  display:grid;
  grid-template:
  "." 40px
  "About-h1" 
  "About-ul" 
  "About-p"
  "." 40px;
  row-gap:20px;
  h1{
    grid-area:About-h1;
    justify-self: center;
  }

  ul{
    grid-area:About-ul;
    list-style:none;
    padding-left:0;
  }

  #first-li{
    margin-bottom:20px;
  }

  p,ul{
    margin:0 15%;
  }

  p{
    grid-area:About-p;
  }
}

/*Works*/
#Works{
  grid-area:Works;
  display:grid;
  grid-template:

  ". Works-h1 Works-h1 Works-h1 . " 

  ". Works-img1 Works-img2 Works-img3 . " 

  ". Works-img4 Works-img5 Works-img6 . " 

  ". . . . ." 40px
  /80px auto auto auto 80px;
  gap:40px;
  justify-items:center;
  padding:0;

  h1{
    grid-area:Works-h1;
    justify-self:center;
  }

  img{
    width:100%;
  }

  #Works-img1{grid-area:Works-img1;}

  #Works-img2{grid-area:Works-img2;}

  #Works-img3{grid-area:Works-img3;}

  #Works-img4{grid-area:Works-img4;}

  #Works-img5{grid-area:Works-img5;}

  #Works-img6{grid-area:Works-img6;}
}

#News{
  grid-area:News;
  display:grid;
  grid-template:
  ". News-h1. "
  ". News-dl. "
  ". . ." 40px
  /80px auto 80px;
  justify-items: center;
  align-items:center;
  gap:40px;
  
h1{
  grid-area:News-h1;
}

  dl{
    grid-area:News-dl;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }

  #News-first-dr,#News-first-dt{
    border-top:solid 1px black;
    border-bottom:solid 1px black;
  }

  .News-dr,.News-dt{
    width:20%;
    border-bottom:solid 1px black;
    padding:15px;
  }

  .News-dt{
    width:70%;
  }
}

// コンタクト
#Contact{

  display:grid;
  grid-template:
  ". contact-box. " 
  ". . ." 40px
  /80px auto 80px;
  justify-items:center;

  div{
    grid-area:contact-box;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:40px;



    h1{
      width:100%;
      text-align:center;
    }

    #contact-form{
      display:flex;
      flex-wrap:wrap;
      justify-content: space-around;
      align-content:center;
      gap:10px;
      margin:1% 0;

      .textbox{
            height:40px;
            width:80%;
          }
      
    }
  }

    #message-box{
      height:150px;
      width:80%;
    }

    #submit{
      width:100%;
      button{
      font-size:20px;
      background-color:black;
      color:white;
      width:15%;
    }
    }

    .contact-label,#contact-label-3{
      width:15%;
    }

    .contact-label,#contact-label-3{
      font-weight:bold;
    }

  }



footer{
  grid-area:foot;
}