@use "../../../default_mixin_setting/_main_mixin" as *;

body{
  @include space-setting(0,0);
  font-family: serif;
  display: grid;
  grid-template:
  /*ヘッダー*/
  "head" 270px
  /*メイン*/
  "main" 1fr
  /*フッター*/
  "foot" 1fr/1fr;
  min-height:100vh;
}

header{
  grid-area:head;
  display:flex;
  justify-content: space-around;
  align-items: center;

  > a{
    font-size:30px;
    font-weight:bold;
  }
/*リンクの色とデザイン調整*/
  a{
    text-decoration:none;
    color:black;
  }
}

nav{
  display:flex;
  gap:20px;
  font-size:18px;
  /*インスタアイコン*/
  img{
      width:20px;
      vertical-align: middle;
    }
}

main{
  grid-area:main;
  display:flex;
  flex-flow:row wrap;
  > img{
    width:100%;
    justify-self:flex-start;
  }

  h1{
    text-align: center;
  }

  section{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;

    #first-li{
      margin-bottom:40px;
    }
        
    ul{
      padding:0;
      list-style:none;
    }

    ul,p{
      width:80%;
  }
}

footer{
  grid-area:foot;
}
}