@use "../../../default_mixin_setting/_main_mixin" as *;

body{
  @include space-setting(0,0);
  font-family: serif;
  display: grid;
  grid-template:
  /*ヘッダー*/
  "head" 1fr
  /*メイン*/
  "main" 1fr
  /*フッター*/
  "foot" 1fr/1fr;
  min-height:100vh;
}

header{
  grid-area:head;
  display:flex;
  justify-content: space-around;
  align-items: center;

  > a{
    font-size:40px;
    font-weight:bold;
  }
/*リンクの色とデザイン調整*/
  a{
    text-decoration:none;
    color:black;
  }
}

nav{
  display:flex;
  gap:20px;
  font-size:20px;
  
  img{
      width:20px;
      vertical-align: middle;
    }
}


main{
  grid-area:main;

  > img{
    width:100%;
  }
}

footer{
  grid-area:foot;
}