body{
  font-family:'Noto Sans Japanese';
  max-width:1080px;
  min-width:960px;
  // 全体の左右の余白をとるため
  margin:0 auto;
}


/*PC用のスタイル*/
@media screen and(min-width:768px){

  // ヘッダーとメインの余白をとるために使用
  header{
    margin:20px 0;
  }


  #nav-pc{
    font-size:34px;
    font-weight:bold;
    display:flex;
    // aタグ全体のCSS
    a{
      text-decoration:none;
      text-align:center;
      color:black;
    }
  }

    // マイプロフィール
    #MyProfile{
      // 枠線のCSS
      border:1px solid;
      // 枠内の余白
      padding:5px 10px;
      // 枠外の余白
      margin:30px 90px;
    }

    // メニュー
    #menu{
      // divを使用
      // プロフィールとの余白
      margin:auto;
      > a{
        // AboutとWorks間の余白
        margin:auto 30px;
    
  }
}

// 画像いっぱいに広げる
#header-img{
    // 画面内に画像が収まるように
      width:100%;
    }




  }